/* DisplayCampaigns.module.css */

.campaignsContainer {
    padding: 20px;
    justify-content: center;
  }
  
  .title {
    font-family: 'Epilogue';
    font-weight: bold;
    font-size: 18px;
    color: white;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .loaderImage {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  
  .noCampaignsText {
    font-family: 'Epilogue';
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    color: #818183;
    text-align: center;
  }
  
  /* You can add more styles here as needed */
  